apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: community-issues
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ repo_url }}
    targetRevision: {{ repo_branch }}
    path: {{ repo_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_app_namespace }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
